.row {
    display: block;
    margin: 0 0 20px;
    border: none;
}

.label {
    display: inline-block;
    min-width: 150px;
    margin: 0 20px 0 0;
    text-align: right;
    font: 1.5rem $fontNeuzeitBook;
}

.input {
    @extend %reset-input;

    &.default {
        display: inline-block;
        width: 300px;
        padding: 10px;
        background-color: $colorWhite;
        border-radius: 5px;
        font: 1.5rem/1em $fontNeuzeitBook;
    }
}

.errors {
    @extend %reset-list;
    display: inline-block;
    margin-left: 20px;
    font: 1.5rem $fontNeuzeitBook;
    color: $colorRed;
}
