<div class="view view-vuex" transition="vuex">
	<div class="wrapper">
		<h1 class="heading h1 js-stagger">Vuex</h1>
		<p class="copy c1 js-stagger">
			See <a href="http://vuex.vuejs.org" target="_blank">vuex.vuejs.org</a> for docs
		</p>

		<div class="count">
			<h2 class="heading h3 js-stagger">Count: {{ count }}</h2>
			<button class="button primary js-stagger" @click="increment(1)">Increment (+1)</button>
			<button class="button primary js-stagger" @click="add">Add (+5)</button>
		</div>
	</div>
</div>
