.view-home {
    display: flex;
    box-orient: vertical;
    align-items: center;
    justify-content:  center;
    min-height: 100vh;

    .splash {
        position: relative;
        width: 880px;
        padding-left: 450px;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    h2 {
        display: inline-block;
        margin: 0;
        padding-top: 20px;
        border-top: 2px solid #fff;
        font: 1.7rem 'BrandonRegular', sans-serif;
        text-transform: uppercase;
    }

    h3 {
        margin: 0;
        font: 3.4rem 'BrandonBlack', sans-serif;
        text-transform: uppercase;
    }

    p {
        font: 1.4rem/1.6em 'NeuzeitBook', sans-serif;
    }
}
