.view-home {
    display: flex;
    box-orient: vertical;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .wrapper {
        position: relative;
        display: flex;
        box-orient: vertical;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .logo {
        flex: 1;
        max-width: 351px;
        margin-right: 80px;
    }

    .text {
        flex: 1;
        text-align: left;
    }

    h2 {
        display: inline-block;
        margin: 0;
        padding-top: 20px;
        border-top: 2px solid $colorWhite;
        font: 1.7rem $fontBrandonRegular, sans-serif;
        text-transform: uppercase;
    }

    h3 {
        margin: 0;
        font: 3.4rem $fontBrandonBlack, sans-serif;
        text-transform: uppercase;
    }

    p {
        font: 1.4rem/1.6em $fontNeuzeitBook, sans-serif;
    }

    @include respond-to('SMALL') {
        .wrapper {
            display: block;
        }

        .logo {
            margin: 30px auto;
        }
    }
}
