.navigation {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;

    ul {
        @extend %reset-list;
        width: 100px;
    }

    li {
        display: block;
        margin: 0 0 15px;
    }

    a {
        font-size: 1.7rem;
        line-height: 1.5em;
        text-decoration: none;
        color: $colorWhite;
    }
    
    .v-link-active {
        text-decoration: underline;
    }
}
