.navigation {
    position: fixed;
    left: $sizeNavigationOffset;
    top: 50%;
    transform: translate(0, -50%);
    width: $sizeNavigationWidth;

    ul {
        @extend %reset-list;
        width: 100%;
    }

    li {
        display: block;
        margin: 0 0 15px;
    }

    a {
        font-size: 1.7rem;
        line-height: 1.5em;
        text-decoration: none;
        color: $colorWhite;
    }
    
    .v-link-active {
        text-decoration: underline;
    }

    @include respond-to('MEDIUM') {
        left: 50%;
        top: 20px;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 20px;
        }
    }
}
