@import 'utility/normalize';
@import 'type/font';
@import 'type/type';
@import 'ui/ui';
@import 'layout/layout';

html {
    font-size: 62.5%;
    font-family: $fontNeuzeitBook, sans-serif;
}

body {
    background: $colorBlue url('~asset/image/bg-body.jpg') no-repeat center/cover;
    color: $colorWhite;
}
