// Media queries
$mediaQueries: (
    'X_SMALL': '(max-width: 480px)',
    'SMALL': '(max-width: 768px)',
    'MEDIUM': '(max-width: 1024px)',
    'LARGE': '(min-width: 1025px)',
    'X_LARGE': '(min-width: 1480px)',
    'XX_LARGE': '(min-width: 1680px)',
    'MEDIUM_ISOLATE ': '(min-width: 768px) and (max-width: 1023px)',
    'MOBILE_LANDSCAPE': '(max-device-width: 768px) and (orientation: landscape)'
);

// Fonts
$fontBrandonBlack: 'BrandonBlack';
$fontBrandonRegular: 'BrandonRegular';
$fontNeuzeitBook: 'NeuzeitBook';

// Sizes
$sizeSiteWidth: 980px;
$sizeNavigationWidth: 100px;
$sizeNavigationOffset: 50px;

// Colors
$colorMain: #000;
$colorWhite: #fff;
$colorBlue: #131526;
$colorOrange: #e64c2e;

// Z-indexes
$layout: default, main, popup, header;
