// Source Paths
$pathFont: '../font/';

// Fonts
$fontBrandonBlack: 'BrandonBlack';
$fontBrandonRegular: 'BrandonRegular';
$fontNeuzeitBook: 'NeuzeitBook';

// Sizes
$sizeSiteWidth: 1180px;

// Colors
$colorMain: #000;
$colorWhite: #fff;
$colorBlue: #131526;

// Z-indexes
$layout: default, main, popup, header;
