// Source Paths
$pathFont: '../font/';
$pathImage: '../image/';

// Fonts

// Sizes
$sizeSiteWidth: 1180px;

// Colors
$colorMain: #000;
$colorWhite: #fff;
$colorBlue: #131526;

// Z-indexes
$layout: default, main, popup, header;
