@font-face {
    font-family: $fontBrandonBlack;
    src: url('~asset/font/brandon-grotesque-black.ttf');
}

@font-face {
    font-family: $fontBrandonRegular;
    src: url('~asset/font/brandon-grotesque-regular.ttf');
}

@font-face {
    font-family: $fontNeuzeitBook;
    src: url('~asset/font/neuzeit-slt-std-book.ttf');
}
