@font-face {
    font-family: 'BrandonBlack';
    src: url('~asset/font/brandon-grotesque-black.ttf');
}

@font-face {
    font-family: 'BrandonRegular';
    src: url('~asset/font/brandon-grotesque-regular.ttf');
}

@font-face {
    font-family: 'NeuzeitBook';
    src: url('~asset/font/neuzeit-slt-std-book.ttf');
}
